!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Partido De La Red
		meta(name='description', content='')
		meta(name='author', content='')

		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
		link(rel='stylesheet', href='stylesheets/layout.css')
		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

		link(rel='shortcut icon', href='images/favicon.ico')
		//- link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
		//- link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
		//- link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
		
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
		// script(type='text/javascript', src='https://github.com/protonet/jquery.inview/raw/master/jquery.inview.min.js')
		// script(type='text/javascript', src='javascripts/vendor/scroll-parallax/jquery.scrollParallax.min.js')
		script(type="text/javascript", src="//raw.github.com/flesler/jquery.scrollTo/master/jquery.scrollTo.min.js")
		script(type="text/javascript", src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")

		// script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js")

		script(type="text/javascript", src="javascripts/site.js")


		script(type='text/javascript', src='//use.typekit.net/nzi0bpe.js')
		script(type='text/javascript')
			try{Typekit.load();}catch(e){}
	body(data-spy="scroll", data-target=".navbar", data-offset="120")
		header.site-header.clearfix
			h1
				a(href='#splash', title='Partido De La Red') Partido De La Red
			.social
				a(target="_blank", href='http://facebook.com/partidodelared', title='').facebook Facebook
				a(target="_blank", href='http://twitter.com/partidodelared', title='').twitter Twitter
			nav.navbar
				ul.nav
					li.hide.active
						a(href='#splash', title='') Somos La Red
					li
						a(href='#manifiesto', title='') Manifiesto de la Red
					li
						a(href='#democracia', title='') Democracia En Red
					li 
						a(href='#argentina', title='') Buenos Aires
					li
						a(href='#quienes-somos', title='') Pares De La Red
					li
						a(href='#colaborar', title='') Colaborar

		section.splash.section#splash
			.section-title
				.section-content
					p
						img(src="images/logo.png")
					h1 Somos la Red
					p.description
						| Vivimos en una democracia estancada que no atiende a las nuevas demandas. Nuestra propuesta es la Democracia en Red: Vamos a presentar candidatos para la legislatura que se comprometen a votar siempre acorde a la red,
						br
						| abriendo el ancho de banda de la participación democrática. 
					a.btn.btn2.btn-kickstarter(href='#colaborar', title='Colabora en Kickstarter')
						| Como colaborar
					a.btn.btn2(href='#manifiesto', title='Mira nuestros videos') Nuestro manifiesto
			
			a(href="#manifiesto").arrow-down


		section.videos-section.section#manifiesto
			.section-title
				h2 Manifiesto de la Red
				p.description
					| Fruto de las mismas prácticas que propone, este manifiesto expresa la voz de todos los que creemos en la consolidación de la democracia en la era de la red.
			.videos
				
				a(href="#florencia", data-toggle="modal").video.florencia
					i
					span #Conciencia

				#florencia.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/C7Z7Q2qmuoc', frameborder='0', allowfullscreen='allowfullscreen')

				a(href="#lucia", data-toggle="modal").video.lucia
					i
					span #cooperar

				#lucia.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/u7TRRGvLkr8', frameborder='0', allowfullscreen='allowfullscreen')


				a(href="#santiago", data-toggle="modal").video.santiago
					i
					span #DemocraciaEstancada

				#santiago.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/VvDybmxxIQ4', frameborder='0', allowfullscreen='allowfullscreen')


				a(href="#esteban", data-toggle="modal").video.esteban
					i
					span #Ideas

				#esteban.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/Fkl5J61Pm9c', frameborder='0', allowfullscreen='allowfullscreen')


				a(href="#guido", data-toggle="modal").video.guido
					i
					span #Informacion


				#guido.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/Fec7DW45CJA', frameborder='0', allowfullscreen='allowfullscreen')


				a(href="#pia", data-toggle="modal").video.pia
					i
					span #DemocraciaEnRed

				#pia.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/syDaoqdMcZI', frameborder='0', allowfullscreen='allowfullscreen')


				a(href="#lucas", data-toggle="modal").video.lucas
					i
					span #Dialogo

				#lucas.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/s_uQZGzCxGg', frameborder='0', allowfullscreen='allowfullscreen')


				a(href="#martin", data-toggle="modal").video.martin
					i
					span #DemocraciaEstancada

				#martin.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/fghHqAPaxuU', frameborder='0', allowfullscreen='allowfullscreen')


				.left
					a(href="#nicole", data-toggle="modal").video.nicole
						i
						span #Instituciones

					#nicole.modal.hide.fade
						.modal-body
							iframe(width='560', height='315', src='http://www.youtube.com/embed/KLUN5pXOIJc', frameborder='0', allowfullscreen='allowfullscreen')

					a(href="#brenda", data-toggle="modal").video.brenda
						i
						span #Comunidad

					#brenda.modal.hide.fade
						.modal-body
							iframe(width='560', height='315', src='http://www.youtube.com/embed/4YQXCMkvvSM', frameborder='0', allowfullscreen='allowfullscreen')



				.center
					a(href="#partidodelared", data-toggle="modal").video.video-large
						i
						span #PartidoDeLaRed

					#partidodelared.modal.hide.fade
						.modal-body
							iframe(width='560', height='315', src='http://www.youtube.com/embed/MYl7vfiqivE', frameborder='0', allowfullscreen='allowfullscreen')
					

					a(href="#agustin", data-toggle="modal").video.agustin
						i
						span #Ciudadano
				
					#agustin.modal.hide.fade
						.modal-body
							iframe(width='560', height='315', src='http://www.youtube.com/embed/MYl7vfiqivE', frameborder='0', allowfullscreen='allowfullscreen')
					


					a(href="#valentina", data-toggle="modal").video.valentina
						i
						span #Franqueza

					#valentina.modal.hide.fade
						.modal-body
							iframe(width='560', height='315', src='http://www.youtube.com/embed/33u8U0czJoQ', frameborder='0', allowfullscreen='allowfullscreen')
					

				.right
					a(href="#sebastian", data-toggle="modal").video.sebastian
						i
						span #Transparencia

					#sebastian.modal.hide.fade
						.modal-body
							iframe(width='560', height='315', src='http://www.youtube.com/embed/PtVwu9HiAPc', frameborder='0', allowfullscreen='allowfullscreen')
					


					a(href="#santis", data-toggle="modal").video.santis
						i
						span #Participacion
				
					#santis.modal.hide.fade
						.modal-body
							iframe(width='560', height='315', src='http://www.youtube.com/embed/vSrl30RuHwM', frameborder='0', allowfullscreen='allowfullscreen')
				

				a(href="#gonzalo", data-toggle="modal").video.gonzalo
					i
					span #Empatia

				#gonzalo.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/vSrl30RuHwM', frameborder='0', allowfullscreen='allowfullscreen')
		
				
				a(href="#mariano", data-toggle="modal").video.mariano
					i
					span #Derechos

				#mariano.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/u6dvu_pJQbU', frameborder='0', allowfullscreen='allowfullscreen')
		

				a(href="#felipe", data-toggle="modal").video.felipe
					i
					span #Red

				#felipe.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/L16NZJyY19o', frameborder='0', allowfullscreen='allowfullscreen')
		

				a(href="#francisco", data-toggle="modal").video.francisco
					i
					span #Pares
				#francisco.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/oAyAeQSbeuQ', frameborder='0', allowfullscreen='allowfullscreen')
		

				a(href="#pablo", data-toggle="modal").video.pablo
					i
					span #InteligenciaColectiva
				#pablo.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/hP8MPLKrNPU', frameborder='0', allowfullscreen='allowfullscreen')
		

				a(href="#ricardo", data-toggle="modal").video.ricardo
					i
					span #SoftwareLibre
				#ricardo.modal.hide.fade
					.modal-body
						iframe(width='560', height='315', src='http://www.youtube.com/embed/A-mwOr6ZlTA', frameborder='0', allowfullscreen='allowfullscreen')
		
		
		section.democracy-network.section#democracia
			.section-title
				h2 Democracia en red
				p.description
					| Nuestro software, de código abierto y libre, es una plataforma que permite a todo ciudadano hacerle llegar su voto diario a los legisladores de la red.

			.browser


				a(href="", data-toggle="popover", data-content="Soluciones brindadas por ciudadanos y representantes para cada problématica se debaten entre todos.", data-title="Crear problématica", data-placement="left").dot-write.dot
					span.mapMarkGlow
					span.mapMarkShape

				a(href="", data-toggle="popover", data-content="Se unifica la identidad virtual con la legal de todo ciudadano y luego se verifica entre pares.", data-title="Perfil de usuario", data-placement="left").dot-profile.dot
					span.mapMarkGlow
					span.mapMarkShape

				a(href="", data-toggle="popover", data-content="El planteo de un problema ciudadano se delimita por tiempo y región, y todos pueden contribuir con fuentes y datos.", data-title="Problematica", data-placement="right").dot-problematica.dot
					span.mapMarkGlow
					span.mapMarkShape

				//- a(href="", data-toggle="popover", data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.", data-title="Propuestas", data-placement="right").dot-propuestas.dot
				//- 	span.mapMarkGlow
				//- 	span.mapMarkShape

				a(href="", data-toggle="popover", data-content="Toda propuesta se puede votar directamente o delegar el voto a alguien de confianza.", data-title="Delegaciones", data-placement="left").dot-delegar.dot
					span.mapMarkGlow
					span.mapMarkShape



		section.argentina.section#argentina
			.section-title
				h2 Buenos Aires
		
			.argentina-content.clearfix
				.video-buenos-aires
					iframe(width='560', height='315', src='http://www.youtube.com/embed/mfEsv0JgMik', frameborder='0', allowfullscreen='allowfullscreen')

				.what-we-need
					p Somos un partido con el objetivo de abrir el ancho de banda de la democracia: no alcanza con votar cada dos años si podemos expresarnos todos los días usando la red.
					p Los legisladores de la red se comprometen a votar siempre acorde a lo que se resuelve online en la Democracia en Red. Cada click es ahora también un voto.

					a(href='#myModal', role='button', data-toggle='modal').btn.btn-white Enviar datos
					a(href="http://wiki.partidodelared.org/index.php/Página_principal", target="_blank").btn.btn-white Preguntas Frecuentes

		section.who-we-are.section.clearfix#quienes-somos
			.section-title
				h2 Pares De La Red
				.clearfix
					p.description.left
						| Desde Mayo de 2012, un grupo de emprendedores de la sociedad civil, la tecnología, la política, educadores y comunicadores se juntan como pares para debatir y llevar adelante el Partido de la Red con el objetivo de instalar la Democracia en Red como sistema de gobierno.
					p.description.right
						| Es a partir de aquellas reuniones que el proyecto cobra vida y nos impusimos como meta presentarnos a elecciones distritales y al mismo tiempo, impulsar el desarrollo del software que permita llevar directamente la voz de cada ciudadano a su parlamento correspondiente.
		
			.members.clearfix
				- each member in members
					- var status = member.statuses[0]
					- var date = new Date(status.created_at)
					a(target="_blank", href=member.url
						, data-toggle="popover"
						, data-html="true"
						, data-content= status.text
						, data-title=member.name) 
						img(src=member.image)


			.join-the-team
				p Si te interesa participar del equipo del Partido De La Red 
					a.btn.btn-join(href='#myModal', role='button', data-toggle='modal') Dejanos tus datos para sumarte

					#myModal.modal.hide.fade
						.modal-header
							h3 Sumate al partido

						.modal-body
							form#subForm(action='http://gravityonmars.createsend.com/t/r/s/jdlliyj/', method='post').form-horizontal
								div.control-group
									label.control-label(for='name') Nombre:
									.controls
										input#name(type='text', name='cm-name')

								div.control-group
									label.control-label(for='lastname') Apellido:
									.controls
										input#lastname(type='text', name='cm-f-ydkhhiu')

								div.control-group
									label.control-label(for='jdlliyj-jdlliyj') Email:
									.controls
										input#jdlliyj-jdlliyj(type='text', name='cm-jdlliyj-jdlliyj')
								div.control-group
									label.control-label(for='Localidad') Localidad:
									.controls
										select(name='cm-fo-ydkhdui')
											option(value='3698109') Capital Federal
											option(value='3698110') Gran Buenos Aires
											option(value='3698111') Otros
								p
									input(type='submit', value='Sumate ahora!').btn.btn-sumate-ahora


		section.how-to-join.section.clearfix#colaborar

			.colaborate-box
				.section-title
					h2 ¿Como puedo colaborar?
					p.description
						| Hay varias formas de apoyar esta iniciativa. Hoy necesitamos 4000 adhesiones para conformarnos como Partido en la ciudad de Buenos Aires y financiar el desarrollo de nuestro software.
			
				//- a(href="#").help-link.help-money
				//- 	i 
				//- 	| Pronto podrás colaborar


				//- a(href="#").help-link.ideame
				//- 	i 
				//- 	| Pronto podrás colaborar

				a(href="http://wiki.partidodelared.org/index.php/Donde_firmar_como_Adherente", target="_blank").help-link.help-sign
					i
					| Firma el petitorio


				hr
				p Nuestras puertas están abiertas para todos los que quieran impulsar un cambio real en pos de mejorar nuestra democracia.


		section.section.links.clearfix
			.facebook.link-box
				span Encontranos en Facebook
				iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fpartidodelared&send=false&layout=standard&width=450&show_faces=true&font&colorscheme=light&action=like&height=70', scrolling='no', frameborder='0', allowtransparency='true')

			.twitter.link-box
				span Seguinos en Twitter

				a.twitter-follow-button(href='https://twitter.com/partidodelared', data-show-count='false', data-size='large') Follow @partidodelared
					script
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				
				a.twitter-hashtag-button(href='https://twitter.com/intent/tweet?button_hashtag=PartidoDeLaRed', data-size='large') Tweet #PartidoDeLaRed
					script
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



			.wiki.link-box
				a(href="http://wiki.partidodelared.org", target="_blank") Informate en el Wiki

			.blog.link-box
				a(href="http://blog.partidodelared.org", target="_blank") Lee nuestro Blog



		footer
			nav
				ul.nav
					li.hide.active
						a(href='#splash', title='') Somos La Red
					li
						a(href='#manifiesto', title='') Manifiesto de la Red
					li
						a(href='#democracia', title='') Democracia En Red
					li 
						a(href='#argentina', title='') Argentina
					li
						a(href='#quienes-somos', title='') Pares De La Red
					li
						a(href='#colaborar', title='') Colaborar
			
			.last-line (CC) 2013 FUNDACION HORMIGAS ARGENTINAS - BUENOS AIRES, ARGENTINA

	script
		$('.members a').popover({
			trigger: 'hover',
			placement: function (tip, element) {
				var offset = $(element).offset()
					, width = $(document).outerWidth()
					, horiz = 0.5 * width - offset.left
					, horizPlacement = horiz > 0 ? 'right' : 'left'
				return horizPlacement;
			}
		});




